var/

.historian

kess.el
mines/
backups/
elpa/
eshell/
server/
url/

.cask/

abbrev_defs
bookmarks
desktop
emacs-mine.el
ido.last
recentf
savehist
smex-items

helm*
projectile*
*places
*lock
*~
\#*#
.#*
*.jar
history
network-security.data
kess-custom.el
